@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');

// COLORS
$color-black: #000000;
$color-grey: #828282;
$color-grey-light: #F6F6F6;
$color-red: #D51218;
$color-white: #FFFFFF;

// FONTS
$font-family-montserrat: 'Montserrat',
sans-serif;

// FONT WEIGHTS
$font-weight-sm: 600;
$font-weight-md: 500;
$font-weight-rl: 400;

// FONT STYLES
$font-style-normal: normal;
$font-style-italic: italic;