
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,500&display=swap');

// COLORS

$color-black: #000000;
$color-grey: #828282;
$color-grey-light: #F6F6F6;
$color-red: #D51218;
$color-white: #FFFFFF;
$color-grd-btn: radial-gradient(53.24% 47.17% at 49.87% 49.92%,
    #d81719 0%,
    #d41719 36.93%,
    #c7181a 75.12%,
    #ba181b 100%);

// FONTS
$font-family-montserrat: 'Montserrat',
sans-serif;

// FONT WEIGHTS
$font-weight-sm: 600;
$font-weight-md: 500;
$font-weight-rl: 400;

// FONT STYLES
$font-style-normal: normal;
$font-style-italic: italic;



  $color-white: #0b0a0a;
  $color-grey:#4f4f4f;
  $font-family-main: 'Montserrat', sans-serif;


  
  // media queries
  $desktop: 1200px;
  $laptop: 991px;
  $tablet: 768px;
  $mobile: 480px;
  $mobile-landscape: 850px;
  $mobile-sm: 360px;
  $mobile-sm-landscape: 650px;

