@import "../scss/vars";

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.main-container {
  max-width: 1175px;
  margin: 0 auto;
}

.title {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: $font-family-montserrat;
  font-style: $font-style-normal;
  font-weight: $font-weight-sm;
  font-size: 32px;
  line-height: 39px;
}

.header {
  margin-top: 19px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    margin-right: 37px;
  }

  &__nav {
    &__menu-box {
      display: flex;
      align-items: center;

      &__link {
        color: $color-grey;
        font-family: $font-family-montserrat;
        font-weight: $font-weight-rl;
        font-style: $font-style-normal;
        font-size: 16px;
        line-height: 20px;
      }
      &__item {
        &__search {
          margin: 0 24px 0 188px;
          &-block {
            .form {
              &__input {
                width: 284px;
                height: 48px;
                border: 0;
                border-radius: 5px;
                padding: 14px 24px;
                outline: none;
                font-family: $font-family-montserrat;
                font-weight: $font-weight-rl;
                font-style: $font-style-normal;
                font-size: 16px;
                background-color: $color-grey-light;
                color: $color-black;
                &::placeholder {
                  color: $color-black;
                }
              }
              &__btn {
                position: absolute;
                transform: translate(-200%, 60%);

                background-color: transparent;
                border: 0;
                .search-img {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
        &__contact {
          &-blc {
            &__link {
              letter-spacing: 0.02em;
              border-radius: 4px;
              color: $color-white;
              background-color: $color-red;
              font-family: $font-family-montserrat;
              font-weight: $font-weight-sm;
              font-style: $font-style-normal;
              font-size: 30px;
              padding: 5px 22px;
            }
          }
        }
      }

      &__item + &__item {
        margin-left: 47px;
      }
    }
    .active-link {
      color: $color-red;
      font-weight: $font-weight-sm;
    }
  }
}

.for-user-blc {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid #f2f2f2;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__location {
      &__text-img {
        display: flex;
      }
      &__text {
        color: $color-red;
        font-weight: $font-weight-sm;
      }
    }
    &__person {
      &__text-img {
        display: flex;
      }
      &__text {
        color: $color-grey;
        font-weight: $font-weight-sm;
      }
    }
  }
  &__nav {
    &__list {
      display: flex;
      align-items: center;

      .item__link {
        font-family: $font-family-montserrat;
        font-weight: $font-weight-rl;
        font-style: $font-style-normal;
        font-size: 16px;
        color: $color-black;
      }
      .list__item + .list__item {
        margin-left: 33px;
      }
    }
  }
}

.hero-container {
  max-width: 1114px;
  margin: 0 auto;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0;
  &__btn {
    padding: 20px 70px;
    align-items: center;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
  }

  .button__price {
    color: $color-red;
    background-color: $color-white;
    border: none;
    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
    border-radius: 4px 4px 0px 0px;
  }
  .button__cargo {
    border: none;
    color: $color-grey;
    padding: 20px 100px;
  }
  .button__help {
    border: none;
    color: $color-grey;
    padding: 20px 120.5px;
  }
  .content {
    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
    border-radius: 4px;

    &__card {
      display: flex;
      padding: 26px 60px;
      justify-content: space-between;
      // align-items: center;
      gap: 24px;
    }
    .price__text {
      font-family:$font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: $font-weight-sm;
      font-size: 16px;
      line-height: 20px;
      color: #828282;
    }
  }
  &__form {
    &__input {
      width: 274px;
      height: 48px;
      border: 0;
      border-radius: 5px;
      padding: 14px 24px;
      outline: none;
      font-family: $font-family-montserrat;
      font-weight: $font-weight-rl;
      font-style: $font-style-normal;
      font-size: 16px;
      background-color: $color-grey-light;
      color: $color-black;
      &::placeholder {
        color: $color-black;
      }
    }
    &__btn {
      position: absolute;
      transform: translate(-180%, 60%);
      background-color: transparent;
      border: 0;
      .search-img {
        width: 20px;
        height: 20px;
      }
    }
  }
  .search__weight {
    &__form {
      &__input {
        width: 136px;
        height: 48px;
        border: 0;
        border-radius: 5px;
        padding: 14px 24px;
        outline: none;
        font-family: $font-family-montserrat;
        font-weight: $font-weight-rl;
        font-style: $font-style-normal;
        font-size: 16px;
        background-color: $color-grey-light;
        color: $color-black;
        &::placeholder {
          color: $color-black;
        }
      }
      &__btn {
        position: absolute;
        transform: translate(-180%, 50%);
        background-color: transparent;
        border: 0;
        .search-img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  .calculate {
    &__btn {
      background-color: $color-red;
      padding: 12px 24px;
      border: none;
      color: $color-white;

      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
// .hide {
//   display: none;
// }

.banner {
  background-image: url("../jarkynai/img/image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 10px;
  &__title {
    padding-top: 48px;
    padding-bottom: 24px;
    // padding-left: 120px;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-white;
  }
  &__text {
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-rl;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 36px;
  }
  &__link {
    color: $color-white;
    border: 1px solid $color-grd-btn;
    padding: 14px 24px;
    border-radius: 4px;
    background: $color-grd-btn;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-rl;
    font-size: 18px;
    line-height: 22px;
  }
  .num {
    margin-top: 296px;
    padding-bottom: 35px;
    padding-left: 15px;
    color: $color-white;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-rl;
    font-size: 18px;
    line-height: 22px;
  }
  .num::after {
    padding-left: 20px;
    content: url("../jarkynai/img/previous/arrow-right.svg");
  }
  .num::before {
    padding-right: 20px;
    content: url("../jarkynai/img/previous/arrow-left.svg");
  }
}
.numbers {
  background-color: $color-grey-light;
  background-repeat: no-repeat;

  .number {
    padding: 48px 0 58px 0;
    &__title {
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: $font-weight-sm;
      font-size: 32px;
      line-height: 39px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #111111;
    }
    &__inner {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;

      &__blc-text {
        &__call {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          padding: 23px 0 0 0;
        }
      }

      &__blc-img {
        position: absolute;
        top: -55px;
        left: 468px;
      }
    }

    .numer {
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #d51218;

      &__text {
        border-top: 5px solid red;
        font-family: $font-family-montserrat;
        font-style: $font-style-normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #111111;
      }
    }
  }
}

.transporation {
  &__title {
    margin-top: 65px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-black;
  }
  &__inner {
    margin-top: 34px;
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .flex {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
    padding: 33px 34px 45px;
    display: flex;
    gap: 20px;
  }
  &__text {
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.oil {
  background-image: url("../jarkynai/img/Rectangle\ 109.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    padding-top: 48px;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-white;
    padding-bottom: 24px;
  }
  &__text {
    padding-bottom: 49px;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
  }
  &__link {
    padding: 13px 24px;
    border: 1px solid $color-grd-btn;
    border-radius: 4px;
    background: $color-grd-btn;
    color: $color-white;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .num {
    padding-top: 280px;
    padding-bottom: 40px;
    color: $color-white;
    padding-left: 0px;
  }
  .num::after {
    padding-left: 20px;
    content: url("../jarkynai/img/previous/arrow-right.svg");
  }
  .num::before {
    padding-right: 20px;
    content: url("../jarkynai/img/previous/arrow-left.svg");
  }
}

// bg-img  фото фоно
.bg-img {
  background-image: url("../jarkynai/img/background.svg");
}

.news {
  &__inner {
    display: grid;
    grid-template-columns: 3fr 0.6fr;
    gap: 20px;
  }
  .blc-new {
    margin: 36px 0;
    padding: 29px 0;
    background-color: $color-grey-light;
    padding: 36px 30px 18px;
    background: #f6f6f6;
    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
    border-radius: 4px;

    &__main-txt {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__all-news {
      color: $color-red;
    }

    &__news-text {
      // max-width: 645px;
      background-color: $color-white;
      padding: 0 10px;
      border-radius: 4px;
      margin-bottom: 14px;
    }
  }
  .data {
    padding: 27px 0 16px;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
  .call-text {
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .link {
    padding: 14px 0 18px;
    color: $color-red;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .blc-derector {
    margin: 36px 0;
    padding: 29px 0;
    background-color: $color-grey-light;
    padding: 36px 29px 18px;
    background: #f6f6f6;
    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
    border-radius: 4px;

    &__title {
      padding: 0 0 19px;
    }

    &__img {
      padding: 0 0 14px 0;
    }
    &__text {
      padding: 0 0 19px 0;
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
    &__link {
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $color-red;
    }
  }
}

.why-choose-us {
  margin: 0 0 36px 0;
  background-color: $color-grey-light;
  padding: 8px 0;

  &__list {
    margin: 36px 0 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 5px solid $color-red;
    gap: 10px;
    &__num {
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      color: $color-red;
      font-weight: 700;
      font-size: 64px;
      line-height: 78px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
    }

    &__text {
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__link {
    &__text {
      max-width: 308px;
      background-color: $color-red;
      padding: 13px 14px;
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $color-white;
      border-radius: 4px;
    }
  }
}

.need-help {
  &__wrapper {
    background-color: $color-grey-light;
    padding: 36px 0;
    border-radius: 4px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__call-text {
    padding: 24px 0 0 0;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  &__tel-num {
    background-color: $color-red;
    font-family: $font-family-montserrat;
    font-weight: $font-weight-sm;
    font-style: $font-style-normal;
    color: $color-white;
    font-size: 30px;
    letter-spacing: 0.02em;
    border-radius: 4px;
    padding: 5px 22px;
  }
}

.recommended {
  &__title {
    padding: 29px 0 0 0;
  }
  &__inner {
    padding-top: 24px;
    // display: flex;
    .recommended__list {
      position: relative;
      display: flex;
      gap: 10px;
      padding-bottom: 48px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-slider {
    min-width: 0;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  .slider {
    position: relative;
    padding: 0px 0px;
  }

  .slider .slick-arrow {
    position: absolute;
    top: 44%;
    margin: 0px -8px 6px 25px;
    z-index: 10;
    font-size: 0;
    width: 35px;
    height: 68px;
  }
  .slider .slick-arrow.slick-prev {
    left: -84px;
    background: url("../jarkynai/img/Frame\ 28.svg") 0 0 / 100% no-repeat;
  }
  .slider .slick-arrow.slick-next {
    right: -50px;
    background: url("../jarkynai/img/Frame\ 33.svg") 0 0 /100% no-repeat;
  }
  .slider .slick-arrow.slick-disabled {
    opacity: 0.9;
  }

  .slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
  }
  // .slider .slick-dots button {
  //   font-size: 0;
  //   width: 10px;
  //   height: 10px;
  //   background-color: #fff;
  //   border-radius: 50%;
  // }

  .slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
  }

  .slider__item {
    padding: 10px 15px;
  }
  .slider__item img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px;
  }
}

.following {
  padding: 30px 0;
  background-color: $color-grey-light;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    .form__input {
      margin-left: 10px;
      width: 389px;
      height: 48px;
      padding: 14px 24px;
      border-radius: 5px;
      border: none;
      background: #ffffff;

      &::placeholder {
        color: $color-black;
        font-family: $font-family-montserrat;
        font-style: $font-style-normal;
        font-weight: $font-weight-rl;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__btn {
    padding: 13px 24px;
    margin-left: 10px;
    background-color: #d51218;
    border: none;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-sm;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 5px;
  }
}

.footer {
  &__logo {
    margin: 28px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid$color-red;
    padding: 0 0 23px 0;
  }
  &__icon {
    img {
      padding-left: 31px;
    }
  }

  &__call-text {
    &__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // justify-content: space-between;
      gap: 55px;
      border-bottom: 1px solid$color-red;
      padding-bottom: 27px;
    }

    .linki {
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: $font-weight-sm;
      font-size: 16px;
      line-height: 20px;
      color: #4f4f4f;
    }
  }
  .footer-title {
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-md;
    font-size: 18px;
    line-height: 22px;
    padding-top: 0px;
    color: $color-black;
    padding: 0 0 15px 0;
  }

  .branches {
    &__title {
      padding-top: 24px;
    }
    &__list {
      display: flex;
      // justify-content: space-between;
      gap: 33px;
      flex-wrap: wrap;
      padding-top: 7px;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-red;
      padding: 0 0 10px 0;
    }
    .branches-link {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $color-grey;
    }
    .branches-link:hover {
      color: $color-red;
    }
  }
  .pink {
    color: #d51218;
  }
  .test {
    margin-bottom: 24px;

    &__title {
      padding: 17px 0 16px 0;
    }
    .footer__call-text__inner-test{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // justify-content: space-between;
      gap: 55px;
      border-bottom: 1px solid$color-red;
      padding-bottom: 7px;
    }
  }
  .padd {
    padding-bottom: 20px;
  }
  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    .p {
      font-family:$font-family-montserrat;
      font-style:$font-style-normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }
}






//menu-toggle

// #menu__toggle {
//     opacity: 0;
//   }
//   /* стилизуем кнопку */
//   .menu__btn {
//     display: flex; /* используем flex для центрирования содержимого */
//     align-items: center;  /* центрируем содержимое кнопки */
//     position: fixed;
//     top: 20px;
//     left: 20px;
//     width: 26px;
//     height: 26px;
//     cursor: pointer;
//     z-index: 1;
//   }
//   /* добавляем "гамбургер" */
//   .menu__btn > span,
//   .menu__btn > span::before,
//   .menu__btn > span::after {
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 2px;
//     background-color: #616161;
//   }
//   .menu__btn > span::before {
//     content: '';
//     top: -8px;
//   }
//   .menu__btn > span::after {
//     content: '';
//     top: 8px;
//   }
//   /* контейнер меню */
//   .menu__box {
//     display: block;
//     position: fixed;
//     visibility: hidden;
//     top: 0;
//     left: -100%;
//     width: 300px;
//     height: 100%;
//     margin: 0;
//     padding: 80px 0;
//     list-style: none;
//     text-align: center;
//     background-color: $color-white;
//     box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
//   }
//   /* элементы меню */
//   .menu__item {
//     display: block;
//     padding: 12px 24px;
//     color: #333;
//     font-family: 'Roboto', sans-serif;
//     font-size: 20px;
//     font-weight: 600;
//     text-decoration: none;
//   }
//   .menu__item:hover {
//     background-color: #CFD8DC;
//   }
//   #menu__toggle:checked ~ .menu__btn > span {
//     transform: rotate(45deg);
//   }
//   #menu__toggle:checked ~ .menu__btn > span::before {
//     top: 0;
//     transform: rotate(0);
//   }
//   #menu__toggle:checked ~ .menu__btn > span::after {
//     top: 0;
//     transform: rotate(90deg);
//   }
//   #menu__toggle:checked ~ .menu__box {
//     visibility: visible;
//     left: 0;
//   }
