@import "../scss/vars";

a {
  text-decoration: none;
  font-family: $font-family-montserrat;
  font-style: normal;
}
.main-container {
  max-width: 1173px;
  margin: 0 auto;
}
.hr {
  border: 1px solid $color-red;
  color: $color-red;
  background-color: $color-red;
}
.hr-med {
  display: none;
}
.hr-med2 {
  display: none;
}
.foot-hr {
  border: 1px solid $color-red;
  color: $color-red;
  background-color: $color-red;
}

.bg-img {
  background-image: url("../jarkynai/img/background.svg");
  background-repeat: no-repeat;
}
.toggle {
  display: none;
}

.main-header {
  margin-top: 19px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      margin-right: 37px;

      &__link {
        text-decoration: none;
      }
    }

    &__nav {
      &__list {
        display: flex;
        align-items: center;
        list-style: none;
        &__item {
          &__link {
            text-decoration: none;
            color: $color-grey;
            font-family: $font-family-montserrat;
            font-weight: $font-weight-rl;
            font-style: $font-style-normal;
            font-size: 16px;
            line-height: 20px;
          }

          .active-navbar {
            color: $color-red;
            font-weight: $font-weight-sm;
          }

          &__search {
            margin: 0 24px 0 187px;
            &-block {
              &__form {
                &__input {
                  width: 284px;
                  height: 48px;
                  border: 0;
                  border-radius: 5px;
                  padding: 14px 24px;
                  outline: none;

                  font-family: $font-family-montserrat;
                  font-weight: $font-weight-rl;
                  font-style: $font-style-normal;
                  font-size: 16px;

                  background-color: $color-grey-light;
                  color: $color-black;

                  &::placeholder {
                    color: $color-black;
                  }
                }

                &__button-img {
                  position: absolute;
                  transform: translate(-200%, 60%);
                  background-color: transparent;
                  border: 0;

                  &__img {
                    width: 20px;
                    height: 20px;
                  }
                }
              }
            }
          }

          &__contact {
            &-block {
              &__link {
                text-decoration: none;
                letter-spacing: 0.02em;
                border-radius: 4px;
                color: $color-white;
                background-color: $color-red;
                font-family: $font-family-montserrat;
                font-weight: $font-weight-sm;
                font-style: $font-style-normal;
                font-size: 30px;
                padding: 5px 22px;
              }
            }
          }
        }

        &__item + &__item {
          margin-left: 47px;
        }
      }
    }
  }
}

.geo__nav__person-area {
  margin-top: 20px;
  border-top: 1px solid #f2f2f2;
  padding-top: 20px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__geo {
      &__link {
        text-decoration: none;
        &__img-text {
          display: flex;
          align-items: center;

          &__svg {
            width: 20px;
            height: 20px;
          }

          &__text {
            text-decoration: none;
            margin-left: 8px;
            font-family: $font-family-montserrat;
            font-weight: $font-weight-rl;
            font-style: $font-style-normal;
            font-size: 16px;
            color: $color-red;
          }
        }
      }
    }

    &__nav {
      &__list {
        display: flex;
        align-items: center;
        list-style: none;

        &__item {
          &__link {
            text-decoration: none;
            color: $color-black;
            font-family: $font-family-montserrat;
            font-weight: $font-weight-rl;
            font-style: $font-style-normal;
            font-size: 16px;
          }

          .active-navbar-second {
            color: $color-red;
            font-weight: $font-weight-sm;
          }
        }

        &__item + &__item {
          margin-left: 33px;
        }
      }
    }
  }

  &__person-area-block {
    &__link {
      text-decoration: none;
      &__inner-blocks {
        display: flex;
        align-items: center;

        &__logo {
          width: 20px;
          height: 20px;

          margin-right: 14px;
          // margin-left: 109px;
        }

        &__text {
          text-decoration: none;
          font-family: $font-family-montserrat;
          font-weight: $font-weight-rl;
          font-style: $font-style-normal;
          font-size: 16px;
          color: $color-black;
        }
      }
    }
  }
}
// .location {
//   div {
//     margin-top: 36px;
//     margin-bottom: 36px;
//     width: 1114px;
//     height: 194px;
//     background-color: grey;
//   }
// }

.banner {
  margin: 36px 0 46px;
  background-image: url("../jarkynai/img/image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;

  &__title {
    padding-top: 48px;
    padding-bottom: 24px;
    // padding-left: 120px;
    font-family: $font-family-montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-white;
  }
  &__text {
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-rl;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding-bottom: 36px;
  }
  &__link {
    color: $color-white;
    border: 1px solid $color-grd-btn;
    padding: 14px 24px;
    border-radius: 4px;
    background: $color-grd-btn;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-rl;
    font-size: 18px;
    line-height: 22px;
  }
  .num {
    margin-top: 280px;
    padding-left: 15px;
    color: $color-white;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-rl;
    font-size: 18px;
    line-height: 22px;
  }
  .num::after {
    padding-left: 20px;
    content: url("../jarkynai/img/previous/arrow-right.svg");
  }
  .num::before {
    padding-right: 20px;
    content: url("../jarkynai/img/previous/arrow-left.svg");
  }
}
.numer {
  margin-bottom: 58px;
  //padding-left: 115px;
  position: relative;
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__blog1 {
      &__title {
        padding: 30px 0;
        font-family: $font-family-montserrat;
        font-style: $font-style-normal;
        font-weight: $font-weight-sm;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $color-black;
      }
    }
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    &__num {
      position: relative;
      //padding-top: 10px;
      font-family: $font-family-montserrat;
      font-style: $font-style-normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 78px;
      display: flex;
      align-items: center;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: $color-red;
      &__mani {
        position: absolute;
        top: -10px;
        left: 15%;
        font-size: 20px;
      }
      &__txt {
        font-family: $font-family-montserrat;
        font-style: $font-style-normal;
        font-weight: $font-weight-rl;
        font-size: 18px;
        line-height: 22px;
        color: #111111;
      }
    }
  }
  .blog2__img {
    position: absolute;
    left: 586px;
    top: -43px;
  }
}
.transporation {
  &__title {
    margin-top: 58px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-black;
  }
  &__inner {
    margin-top: 34px;
    margin-bottom: 36px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  .flex {
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
    padding: 32px 36px;
    display: flex;
    gap: 50px;
  }
}

.oil {
  background-image: url("../jarkynai/img/Rectangle\ 109.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    padding-top: 48px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-white;
    padding-bottom: 24px;
  }
  &__text {
    padding-bottom: 49px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $color-white;
  }
  &__link {
    padding: 13px 24px;
    border: 1px solid $color-grd-btn;
    border-radius: 4px;
    background: $color-grd-btn;
    color: $color-white;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .num {
    padding-top: 277px;
    padding-bottom: 37px;
    color: $color-white;
    padding-left: 0px;
  }
  .num::after {
    padding-left: 20px;
    content: url("../jarkynai/img/previous/arrow-right.svg");
  }
  .num::before {
    padding-right: 20px;
    content: url("../jarkynai/img/previous/arrow-left.svg");
  }
}

.news {
  margin-top: 36px;
  margin-bottom: 72px;
  &__inner {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    gap: 20px;
    .blc__new {
      margin: 0 20px;
      padding: 29px 50px 18px;
      background: #f6f6f6;
      box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
      border-radius: 4px;

      &__link {
        color: $color-red;
      }

      &__main-txt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
          letter-spacing: 0.02em;
          text-transform: uppercase;
          font-family: $font-family-montserrat;
          font-style: $font-style-normal;
          font-weight: $font-weight-sm;
          font-size: 32px;
          line-height: 39px;
        }
      }

      &__second-txt {
        background: $color-white;
        margin-top: 14px;
        padding: 14px;
        border-radius: 4px;

        &__num {
          font-size: 16px;
          color: $color-black;
          padding-bottom: 16px;
        }
        &__link {
          font-family: $font-family-montserrat;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: $color-red;
        }
      }
    }
  }
  &__text {
    font-family: $font-family-montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 14px;
  }

  .blc__director {
    margin-right: 30px;
    border: 1px solid #dedede;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
    border-radius: 4px;
    .text {
      padding-top: 14px;
    }
    &__link {
      padding-top: 19px;
      color: $color-red;
    }
    &__img {
      padding-top: 19px;
    }
  }
}

.title {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
}

.why-we {
  background: #f6f6f6;
  padding-bottom: 36px;
  &__title {
    padding-top: 36px;
  }
  &__wrapper {
    padding-top: 36px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

    .why-flex {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
  &__num {
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background: $color-grd-btn;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
  }
  &__link {
    border: 1px solid $color-grd-btn;
    border-radius: 4px;
    padding: 13px 24px;
    color: $color-white;
    background: $color-grd-btn;
  }
}
.need-help {
  margin: 36px 50px;

  .container {
    padding: 36px;
    background: #ffffff;
    border: 1px solid rgba(189, 189, 189, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: -5px 4px 24px rgba(189, 189, 189, 0.5);
  }

  &__title {
    font-size: 32px;
    padding-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tel {
    color: #fff;
    border: 1px solid red;
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-sm;
    font-size: 20px;
    line-height: 37px;
    display: flex;
    text-decoration: none;
    padding: 5px 23px;

    background: $color-grd-btn;
    border-radius: 4px;
    a {
      color: $color-white;
    }
  }
  &__text {
    font-family: $font-family-montserrat;
    font-style: $font-style-normal;
    font-weight: $font-weight-rl;
    font-size: 18px;
    line-height: 22px;
  }
}

.rec {
  &__inner {
    padding-top: 24px;
    // display: flex;
    .rec__list {
      position: relative;
      display: flex;
      gap: 16px;
      padding-bottom: 48px;
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slick-slider {
    min-width: 0;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  .slider {
    position: relative;
    padding: 0px 60px;
  }

  .slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: 0px 25px 6px 25px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 48px;
  }
  .slider .slick-arrow.slick-prev {
    left: -30px;
    background: url("../jarkynai/img/Frame\ 28.svg") 0 0 / 100% no-repeat;
  }
  .slider .slick-arrow.slick-next {
    right: -30px;
    background: url("../jarkynai/img/Frame\ 33.svg") 0 0 /100% no-repeat;
  }
  .slider .slick-arrow.slick-disabled {
    opacity: 0.9;
  }

  .slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
  }
  // .slider .slick-dots button {
  //   font-size: 0;
  //   width: 10px;
  //   height: 10px;
  //   background-color: #fff;
  //   border-radius: 50%;
  // }

  .slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
  }

  .slider__item {
    padding: 10px 15px;
  }
  .slider__item img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px;
  }
}

.following {
  background-color: #f6f6f6;
  &__inner {
    display: flex;
    align-items: center;
    padding: 26px 0;
  }

  &__title {
    padding: 31px 35px;
  }
  .follow {
    border: 1px solid #dedede;
    width: 389px;
    height: 48px;
  }
  .follow__btn {
    margin-left: 24px;
    background: $color-grd-btn;
    border: 1px solid $color-grd-btn;
    border-radius: 4px;
    color: $color-white;
    padding: 15px 30px;
  }
  button {
    border: none;
  }
}

.map {
  position: relative;
  background-image: url("../jarkynai/img/map.png");
  padding: 58px 0;

  &__adresse {
    background-color: $color-white;
    max-width: 603px;
    border-radius: 4px;
    padding: 36px;

    box-shadow: 0px 4px 24px 2px rgba(189, 189, 189, 0.5);
  }
  &__text {
    padding: 24px 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  a {
    border: 1px solid $color-grd-btn;
    background: $color-grd-btn;
    color: $color-white;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 24px;
  }
  &__icon {
    position: absolute;
    left: 800px;
    top: 200px;
  }
}

.footer {
  &__logo {
    margin: 36px 0;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    img {
      padding-left: 49px;
    }
  }

  &__call-text {
    &__inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // justify-content: space-between;
      gap: 55px;
    }

    .linki {
      padding-top: 5px;
    }
  }
  .footer-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding-top: 20px;
  }
  .branches {
    &__list {
      display: flex;
      // justify-content: space-between;
      gap: 39px;
      flex-wrap: wrap;
      padding-top: 15px;
      padding-bottom: 24px;
    }
    .branches-link {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $color-grey;
    }
    .branches-link:hover {
      color: $color-red;
    }
  }
  .pink {
    color: #d51218;
  }
  .test {
    margin-bottom: 24px;
  }
  .padd {
    padding-bottom: 20px;
  }
  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
  }
}

//global main
li {
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .numer {
    img {
      width: 60%;
    }
    .blog2__img {
      position: absolute;
      left: 470px;
    }
    .txt {
      font-weight: 200;
      font-size: 14px;
    }
    &__title {
      font-size: 30px;
    }
  }
  .transporation {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .why-we {
    &__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
    .hr {
      display: none;
    }
    .hr-med {
      display: block;
      border: 1px solid $color-red;
    }
  }
}

@media screen and (max-width: 480px) {
  .main-header__inner__nav__list {
    display: none;
    width: 350px;
    height: 100%;
    background: #fff;
    color: #775ca6;
    padding: 35px 0 0 35px;
    position: fixed;
    overflow-x: hidden;
    right: -400px;
    top: 83px;
    transition: 0.5s;
    z-index: 5;
  }
  .geo__nav__person-area {
    display: none;
  }

  .numer {
    img {
      width: 100%;
    }
    .numer__inner {
      grid-template-columns: 1fr;
    }
    .numer__blog2 {
      img {
        position: static;
      }
    }

    .txt {
      font-weight: 200;
      font-size: 14px;
    }
    &__title {
      font-size: 30px;
    }
    .blogs {
      gap: 20px;
      &__num {
        font-size: 48px;

        &__mani {
          position: absolute;
          top: -15px;
          left: 15%;
          font-size: 10px;
        }
        &__txt {
          font-size: 12px;
        }
      }
    }
  }
  .transporation {
    &__inner {
      grid-template-columns: 1fr;
    }
    .flex {
      gap: 80px;
    }
  }
  .news {
    &__inner {
      grid-template-columns: 1fr;
    }
    .blc__new {
      margin: 0;
      padding: 20px;
    }
  }
  .why-we {
    &__wrapper {
      grid-template-columns: 1fr;
    }
    .hr-med {
      display: none;
      // border: 1px solid $color-red;
    }
    .hr-med2 {
      border: 1px solid $color-red;
      color: $color-red;
      background-color: $color-red;
    }
    &__title {
      font-size: 20px;
    }
  }
  .need-help {
    &__wrapper {
      display: block;
    }
    &__title {
      font-size: 20px;
    }
    &__text {
      padding-bottom: 15px;
    }
  }
  .rec {
    &__title {
      font-size: 20px;
    }
  }
  .following {
    &__title {
      font-size: 20px;
    }
    &__inner {
      display: block;
      text-align: center;
    }
    .follow__btn {
      margin-top: 10px;
      margin-left: 0;
    }
  }
  .map {
    &__icon {
      display: none;
    }
  }
  .footer {
    &__call-text {
      display: none;
    }
    .branches {
      display: none;
    }
    .test {
      display: none;
    }
    .footer-footer {
      padding-top: 20px;
    }
  }
  .toggle {
    margin-left: 150px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background: #e7e7e7;
    box-shadow: 8px 8px 15px #d2d2d2, -8px -8px 15px #fcfcfc;
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;

  }
}
