@import "../scss/vars";

.main {
    margin-bottom: 68px;
}

.filter-menu {

    padding-left: 36px;
    padding-right: 36px;

    width: 100%;
    max-width: 1187px;
    margin-left: auto;
    margin-right: auto;
}

.blockddd {
    margin-top: 55px;
    margin-bottom: 0;
}

.home-panel {
    background-color: #f6f6f6;
    border-radius: 4px;
    border: 1px solid rgba(189, 189, 189, 0.5);
    box-shadow: -5px 4px 24px rgba(189, 189, 189, 0.5);



    .panel-choice {

        .tabs {
            &__list {
                display: flex;
                position: relative;
                margin: 0;
                padding: 0;

                font-family: $font-family-main;
                display: flex;
                align-items: center;
                font-size: 24px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
            }

            &__item {
                display: flex;
                position: relative;
                flex: 1 1 0;
            }

            &__link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 22px 36px;
                min-height: 68px;
                border: 1px solid transparent;
                border-bottom: none;
                position: relative;
                text-align: left;
                font-family: $font-family-main;
                font-size: 24px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                cursor: pointer;
            }

            &__icon {
                font-size: 25px;
                margin-right: 14px;

                .icon {
                    display: inline-block;
                }
            }


        }

        .active {
            color: #ba181b;
        }

        .tabs__item:not(.active):not(:last-child)::after {
            content: "";
            position: absolute;
            display: block;
            width: 1px;
            height: 32px;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #828282;
        }


    }
}

.tabs__content {
    padding: 19px 7px 54px 10px;

    .nav {
        display: flex;
        align-items: center;

        &__list {
            list-style: none;
            display: flex;
            align-items: center;


            input {
                border: 1px solid #ccc;
                background: #F6F6F6;
                margin-right: 15px;
                color: $color-black;
                padding: 11px 12px;
                border-radius: 4px;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;

                .nav__input {
                    width: 400px;
                    border: 0;
                    outline: 0;
                    background: transparent;
                    margin-right: 15px;

                    &__img {
                        width: 20px;
                    }
                }
            }

            li {
                display: flex;
            }
        }


        &__item1 {
            margin-right: 37px;
            margin-left: 46px;

        }

        &__item2 {
            margin-right: 23px;

            button {
                border: none;
                cursor: pointer;
            }
        }

        &__item3 {
            margin-right: 40px;
        }

        &__item4 {
            margin-right: 49px;
        }



        .navv {
            margin-right: -28px;
        }

        &__input1 {
            width: 128px;
            border: 0;
            outline: 0;
            background: transparent;
            margin-right: 15px;
        }

        &__input {
            width: 268px;
            border: 0;
            outline: 0;
            background: transparent;
            margin-right: 15px;

            &__img {
                width: 20px;
            }
        }

        &__btn {
            font-family: $font-family-montserrat;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            padding: 10px 16.99px 16px 27.93px;
            border-radius: 4px;
            background: $color-grd-btn;
            letter-spacing: 0.02em;
        }
    }

}

.text1 {
    margin-top: 32px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
}


.framee {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: -4px;
}

.frameflex {
    margin-right: 15px;
}

.frame1 {
    flex-wrap: wrap;


    &-item {
        z-index: 1;
    }

    &-list {
        padding: 1px 0px 24px 24px;
        margin-top: 38px;
    }

    &-contents {
        display: flex;
        align-items: center;
    }

    &-bgimg {
        position: absolute;
        top: 477px;
    }

    &-bgimg1 {
        position: absolute;
        transform: translate(367px, -12px);
    }

    &-bgimg2 {
        position: absolute;
        top: 477px;
    }

    &-bgimg3 {
        position: absolute;
        transform: translate(454px, -142px);
    }

    &-bgimg {
        position: absolute;
        top: 477px;
    }

    &-bgimgcar {
        position: absolute;
        transform: translate(329px, -281px);
    }

    &-bgimg2 {
        position: absolute;
        top: 477px;
    }

    &-bgimghead {
        position: absolute;
        transform: translate(454px, -392px);
    }

}

.content {
    &__tittle {
        margin-bottom: 31px;
        font-weight: 600;
        font-size: 23px;
        line-height: 24px;
    }

    &__text {
        display: flex;
        align-items: center;
        padding-top: 7px;
        text-decoration: none;
        color: #111111;
    }

    &__img {
        margin-right: 9px;
    }

    &__active {
        color: #219653;
    }

    &__textp {
        margin-top: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #828282;
    }
}

.flexx {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.price {
    margin-top: 4px;
    margin-left: 21px;
    display: flex;
    align-items: center;

    &__tittle {
        color: #219653;
    }

    &__tittle2 {
        color: #D51218;
    }

    &__cont {
        margin-right: 48px;
        margin-left: 31px;
        z-index: 1;
    }

    &_content1 {
        display: flex;
        align-items: center;
    }

    &__text {
        margin-left: 56px;
        margin-top: 0px;
    }

    &__img {
        position: absolute;
        transform: translate(-4px, 3px);
    }

    &__img2 {
        position: absolute;
        transform: translate(-9px, 3px);
    }

    &__img3 {
        position: absolute;
        transform: translate(-2px, 3px);
    }

    &__img4 {
        position: absolute;
        transform: translate(-8px, 3px);
    }

}



// ==========================
.helpp {
    &-bg {
        background: #F6F6F6;
        padding-top: 25px;
        padding-bottom: 24px;
    }

    &-inner {
        width: 100%;
        max-width: 1256px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 36px;
        padding-right: 36px;
    }
}

.blocks {
    margin-top: 0;
    margin-bottom: 0;

    &_boxed {
        // margin-left: -36px;
        // margin-right: -36px;
        display: block;
        background-color: #fff;
        border: 1px solid #dedede;
        box-shadow: -5px 4px 24px rgba(189, 189, 189, 0.5);
        border-radius: 4px;
        overflow: hidden;
        padding: 36px;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 19px;

    }

    &__title:not(:last-child) {
        margin-bottom: 24px;
    }

}


.hellpp {
    display: flex;
    align-items: center;

    &_body {
        flex: 1;
        margin-right: 36px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    &__footer {

        &.btnn {
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
            padding: 6px 18.99px 7px 23.93px;
            border-radius: 4px;
            background: $color-grd-btn;
            letter-spacing: 0.02em;
        }
    }
}

.section-map {
    width: 100%;
    max-width: 2521px !important;
    margin-left: auto;
    margin-right: auto;

}

.mappp {
    &__inner {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }

    &__blc {
        margin-top: 0;
        margin-bottom: -4px;

        iframe {
            width: 100%;
            height: 446px;
        }
    }
}

.connection {
    &__inner {
        width: 100%;
        max-width: 1115px;
        margin-left: auto;
        margin-right: auto;
    }

    &__block {
        margin-top: 0;
        margin-bottom: -36px;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.02em;
        margin-top: 27px;
    }

    &__title:not(:last-child) {
        margin-bottom: 27px;
    }
}

.conection {

    // margin-top: 0;
    // margin-bottom: 0;
    &__list {
        margin: 15px -16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        display: flex;
        list-style-type: none;
        max-width: 57%;
        padding: 13px;
        flex: 0 0 50%;
        flex: wrap;
    }

    &__img {
        flex: 0 0 100px;
        max-width: 100px;
        height: 117px;
        margin-right: 27px;
        // align-items: center;
        // display: flex;
    }

    &__img img {
        flex: 0 0 100px;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 8px;
        color: #D51218;
    }

    &__body p {
        font-weight: 400;
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 0;
    }

}


.answer-que {
    background: $color-white;
    padding-top: 25px;
    padding-bottom: 28px;

    &__inner {
        width: 100%;
        max-width: 1115px;
        margin-left: auto;
        margin-right: auto;
        // padding-left: 36px;
        // padding-right: 36px;
    }

    &__block {}

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.02em;
    }

    &__title:not(:last-child) {
        margin-bottom: 24px;
    }
}

.accordionsss {
    margin-bottom: 10px;

    &__list {
        margin-left: -36px;
        margin-right: -36px;
    }

    &__item:not(:last-child) {
        margin-bottom: 14px;
    }

    &__item {
        display: block;
        background-color: #fff;
        border: 1px solid #dedede;
        box-shadow: -5px 4px 24px rgba(189, 189, 189, 0.5); 
        border-radius: 4px;
        overflow: hidden;
        align-items: center;
    }

    &__toggle {
        padding: 13px 75px 15px 35px;
        min-height: 66px;
        width: 100%;
        text-align: left;
        align-items: center;
        display: flex;
        position: relative;
    }

    &__toggle::before {
        content: "";
        position: absolute;
        display: block;
        width: 12px;
        height: 12px;
        transition: all .3s cubic-bezier(.23, 1, .32, 1);
        transform-origin: center center;
        right: 27px;
        top: calc(50% - 9px);
        border-right: 1px solid currentColor;
        border-bottom: 1px solid currentColor;
        transform: rotate(45deg);
    }

    &__icon {
        font-size: 25px;
        margin-right: 14px;
        display: flex;
    }

    &__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px
    }
}